<h2>Sign up</h2>


<div class="alert alert-success" style="display:none" id="anon-user-promo">
      Want to improve your eating habits for the better? You can use our service to track your progress. <a href="/welcome">Learn more.</a>
    </div>

    


    
      


        <!--[if lt IE 7]>
    <script type="text/javascript" 
   src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
    <script>
     // The conditional ensures that this code will only execute in IE,
     // Therefore we can use the IE-specific attachEvent without worry
     window.attachEvent("onload", function() {
       CFInstall.check({
         mode: "overlay"
       });
     });
    </script>
    <![endif]-->

    <!--[if lt IE 9]>
    <div class="alert alert-warning">
    <span class="icon-reminder"></span>
      Our site works best in <a href="http://browsehappy.com/">modern browsers</a>.
      We recommend upgrading or installing the
      <a href="http://www.google.com/chromeframe">Google Chrome Frame</a> plugin for the best experience.
    </div>
    <![endif]-->

    
<div class="start-content">

  <ol class="start-progress">
    <li class="start-progress-doing"> <span>1</span>         Signup 
    <li class="start-progress-todo">  <span>2</span>         Goals
    <li class="start-progress-divider"></li>
    <li class="start-progress-todo">  <span>3</span>         Reminders
    <li class="start-progress-todo">  <span>4</span>         Sharing
    <li class="start-progress-todo">  <span>5</span>         Buddies
  </ol>

  <p>Before we ask you a few questions, please sign up
  so we can remember your information.
  </p>
  <br>

  <div class="form-horizontal-indent" style="margin-bottom:20px;">
    <button class="btn btn-primary" id="facebook-button" href="#">
     Sign up with Facebook <img src="/img/facebookbg.png" style="width:24px; height: 33px;">
    </button>
  </div>

  <div id="start-signup-form">
   <div class="form-horizontal-indent" style="margin-bottom:10px;">Or sign up with your email address:</div>
    
   <%= form_for(resource, :html => {:class => "form-horizontal", :multipart => true, :id => "signup_form"}, 
                :as => resource_name, :url => registration_path(resource_name)) do |f| %>
 
<input type="hidden" name="invited_by" value="None">

<div style="display:none;"><input id="csrf" name="csrf" type="hidden" value="76b4fc4d-d8fd-4b6b-a6e6-5e3b3b164271" /><input id="invited_by" name="invited_by" type="hidden" value="" /></div>

      <div class="control-group">
        <%= f.label :email %>  
        <!--<label for="email">Email</label>-->
        <div class="controls">
          <%= f.email_field :email, :autofocus => true %> 
          <!--<input id="email" name="email" type="text" value="" />-->
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password %>
        <!--<label for="password">Password</label>-->
        <div class="controls">
          <%= f.password_field :password %>
          <!--<input id="password" name="password" type="password" value="" />-->
        </div>
      </div>

      <div class="control-group">
        <%= f.label :first_name %>
        <!--<label for="first_name">First Name</label>-->
        <div class="controls">
          <%= f.text_field :first_name %>
          <!--<input id="first_name" name="first_name" type="text" value="" />-->
        </div>
      </div>

      <div class="control-group">
        <%= f.label :last_name %>
        <div class="controls">
          <%= f.text_field :last_name %> 
        </div>
      </div>

      <div class="control-group">
        <%= f.label :location %> 
        <div class="controls">
          <%= f.text_field :location %> 
        </div>
      </div>

      <div class="control-group">
        <%= f.label :gender %>
        <div class="controls">
          <%= f.collection_select :gender, genders, :first, :last, {}, {:class => "span2"} %>
        </div>
      </div>

      <div class="control-group">
        <label>Birthday</label>
        <div class="controls">
          <%= f.select :birthday_month, birthday_months.collect { |key, value| [value, key] }, {:prompt => "Month"}, {:class => "span1"}%>
          <%= f.select :birthday_day, birthday_days, {:prompt => "Day"}, {:class => "span1"}%>
          <%= f.select :birthday_year, birthday_years, {:prompt => "Year"}, {:class => "span1"}%>
          <%= f.hidden_field :birthday %> 
        </div>
      </div>

<div class="control-group">
  <%= f.label :avatar %>
  <div class="controls">
    <%= image_tag("blankpic.png", :style => "margin-right: 10px; float: left; width: 50px;") %>
    <% if false %> 
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
    <% end %> 
    <!--<img id="profile-photo" src="/img/blankpic.png" style="margin-right: 10px; float: left; width: 50px;">
    <input id="photo" name="photo" type="file" value="" style="margin-top: 15px;">-->
  </div>
</div>
<input name="photo_url" type="hidden">

    <div class="form-actions">
      <%= f.submit "Save", class: "btn btn-large btn-primary", id: "btn_submit"%> 
      <!--<button class="btn btn-large btn-primary" type="submit" data-redirect="/start/goals" disabled>Save &rarr;</button>-->
    </div>
  <!--</form>-->
  <% end %>

  </div>

  <form style="display:none;" id="facebook-signup-form">
    <input name="invited_by" value="None">
    <input name="first_name">
    <input name="last_name">
    <input name="email">
    <input name="facebook_id">
    <input name="location">
    <input name="gender">
    <input name="birthday_month">
    <input name="birthday_day">
    <input name="birthday_year">
    <input name="photo_url">
  </form>

</div>


  </div> 
  <!-- /Container -->
  

   <div id="fb-root"></div>



  
<div id="feedback-popup" class="modal hide" style="display: none;" data-keyboard="true" data-backdrop="static">
  <form id="feedback-form">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Send us feedback</h3>
  </div>
  <div class="modal-body">
    <p style="font-size:16px;">We love feedback! If you have ideas, bugs, or 
     questions, just tell us here.
    </p>
    <textarea name="comment" style="width:98%; height: 50px; margin-bottom: 10px;"></textarea>
    <div id="feedback-form-anon" style="display:none">
      <p>Please let us know your email address so that we can get back to you:</p>
      <input name="email" type="text">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" id="feedback-send-button" data-startmsg="Send" data-loadingmsg="Sending..." data-successmsg="Sent!">Send</button>
    <button class="btn close-button" type="button" data-dismiss="modal">Cancel</button>
  </div>
 </form>
</div>


<%= render "devise/shared/links" %>
