



<%= form_for @goal, html: {class: "form-horizontal", multipart: true} do |f| %>
  <div class="control-group">
  <label>Your main goal?</label>
  <div class="controls" id="body-goals-main">
    <label class="radio inline">
      <%= radio_button_tag "goal[main]", "health", @goal.main == "health" %>
      be healthier
    </label>
    
    <label class="radio inline">
      <%= radio_button_tag "goal[main]", "lose", @goal.main == "lose" %>
      lose weight (fat)
    </label>
    
    <label class="radio inline">
      <%= radio_button_tag "goal[main]", "gain", @goal.main == "gain" %>
      gain weight (muscle)
    </label>
  </div>
</div>

<div class="control-group" style="margin-bottom:20px;">
  <%= f.label :preferred_units, 'Preferred units:' %> 
  <div class="controls">
    <%= f.select(:preferred_units, [['Imperial (lbs, in, etc)', 'imperial'], ['Metric (kgs, cm, etc)', 'metric']]) %>
  </div>
</div>



  <div>
  <p>What foods/habits do you want less of?</p>

  <% @food_habits_less.each do |less| %>
    <div class="habits-item well negative" id="habits-item-grains" style="">
      <div class="habits-item-side">
        <%= check_box_tag 'goal[food_habits_less_names][]', less.id, @goal.food_habits.include?(less) %>
      </div>
      <div class="habits-item-body">
        <div style="float:left; width: 100%; margin-top:6px;">
         <div style="float:right; width: 20px; ">
          <a data-id="grains" data-toggle="modal" href="#grains-help" class="btn btn-small help-button">?</a>
         </div>
          <%= less.name %> 
        </div>
      </div>
    </div>
  <% end %>

  <a id="negative-habits-add" href="javascript:void(0);" class="btn btn-small habits-add-button" data-prefix="negative" data-target="#negative-habits-list">
    + Add your own
  </a>
  <span>or</span>
  <a id="negative-habits-show" class="btn btn-small habits-show-button" href="javascript:void(0);" data-target="#negative-habits-list">Show all</a>

</div>

<div id="positive-habits" style="clear:both; margin-top: 15px;">
  <p>What foods/habits do you want more of?</p>

  <% @food_habits_more.each do |more| %>
    <div class="habits-item well positive" id="habits-item-grains" style="">
      <div class="habits-item-side">
        <%= check_box_tag 'goal[food_habits_more_names][]', more.id, @goal.food_habits.include?(more) %>
      </div>
      <div class="habits-item-body">
        <div style="float:left; width: 100%; margin-top:6px;">
         <div style="float:right; width: 20px; ">
          <a data-id="grains" data-toggle="modal" href="#grains-help" class="btn btn-small help-button">?</a>
         </div>
          <%= more.name %> 
        </div>
      </div>
    </div>
  <% end %>


  <a id="positive-habits-add" href="javascript:void(0);" class="btn btn-small habits-add-button" data-prefix="positive" data-target="#positive-habits-list">
    + Add your own
  </a>
  <span>or</span>
  <a id="positive-habits-show" class="btn btn-small habits-show-button" href="javascript:void(0);" data-target="#positive-habits-list">Show all</a>

</div>

<div style="clear:both">&nbsp;</div>
  
  <div class="form-actions">
  <button class="btn btn-primary save-button" type="submit">Save</button>
  <div class="error-message"></div>
  </div>
<% end %>
