<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="header" class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container"><!--remove all nested div-->
        <%= render 'layouts/settings_navigation' if params[:controller] =~ /goals|reminders|buddies|sharing|data/ || (params[:controller] =~ /users/ && params[:action] != 'new') %>
        <%= render 'layouts/messages' %>
        <%= yield %>
        <footer>
        <!-- Footer -->
          <div id="footer"> 
            <div class="container">
              <p>
              <a href="http://twitter.com/eatdifferent"> <span class="icon-twitter" style="vertical-align: middle; margin-top: -5px;"></span> Twitter</a> &middot;
              <a href="http://www.facebook.com/EatDifferent"> <span class="icon-facebook" style="vertical-align: middle; margin-top: -5px;"></span> Facebook</a> 
              <span id="footer-divider">&nbsp;&nbsp; &nbsp;&nbsp;</span>
              <a href="/help">Help</a> &middot;
              <a href="#feedback-popup" data-toggle="modal">Feedback</a> &middot;

              <a href="/disclaimer">Disclaimer</a>
              </p>
              <p>
              © 2012 eatdifferent.com
              </p>
            </div>
          </div>
        <!-- /Footer -->
        </footer>
      </div>
    </main>
  </body>
</html>
